body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*All styles*/
.MyButton{
  width: 500px;
}

*{
margin: 0;
box-sizing: 0;
border: 0;
padding: 0;
}

.Register{
position: fixed;
top: 0;
right: 0;
background-color: rgba(0,0,0,0.8);
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.Container{
position: relative;
background-color: white;
width: 55%;
max-width: 400px;
min-width: 300px;
height: 65%;
max-height: 700px;
min-height:300px;
border-radius: 24px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

.Form{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 20px;
}

.CloseButton button{
background-color: transparent;
position: absolute;
top: 0;
right:0;
margin: 16px;
cursor: pointer;
display: inline-flex;
align-items: center;
justify-content: center;
}

.CloseButton button i {
font-size: 16px;;
}

.CloseButton button i:hover{
font-size: 18px;
color: rgb(21, 21, 21);
}
.Form h2{
color:rgba(0,0,0,0.5) ;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
align-self: flex-start;
}
.Logo{
width: 100px;
padding: 20px;
}
.Input{
position: relative;
margin: 5px;
margin-top: 2px;
border-radius: 4px;
width: 100%;
height: 32px;
background-color: rgba(0,0,0,0.1);
}
input.Input{
padding-left: 16px;
padding-right: 16px;
color: rgba(0,0,0,0.5);
}
.Input:focus{
outline: none;
box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
.Title{
display: inline-block;
}

.Typewriter.Twelve{
  margin-left: 40px;
  font-size:20px;
  letter-spacing: 4px;
  font-family: monospace;
  border-right: 3px solid;
  width: 68%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1.5s steps(12), cursor .4s step-end infinite alternate;
  }
.Typewriter{
font-size:20px;
letter-spacing: 4px;
font-family: monospace;
border-right: 3px solid;
width: 100%;
white-space: nowrap;
overflow: hidden;
animation: typing 2s steps(19), cursor .4s step-end infinite alternate;
}
@keyframes cursor{
50% {border-color: transparent}
}
@keyframes typing{
from {width: 0}
}

.OrangeButton{
background-color: rgba(254, 85, 0,0.9);
color: white;
font-weight: 500;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
width: 30%;
height: 28px;
border-radius: 8px;
cursor: pointer;
}
.OrangeButton:hover{
background-color: rgba(254, 85, 1);
}
.separator{
width: 70%;
background-color: rgba(0,0,0,0.2);
height: 1px;
border: none;
margin: 20px 0;
}
.textSeparator
{
width: 70%;
height: 30px;
display: flex;
align-items: center;
justify-content: space-around;
}
.textSeparator p {
color: rgba(0,0,0,0.3);
padding: 3px;
}
p.SmallGrey{
margin:0;
width: fit-content;
font-size:14px;
font-family: Arial, Helvetica, sans-serif;
color: rgba(0,0,0,0.5);
}
.LinkText{
font-size:14px;
font-family: Arial, Helvetica, sans-serif;
color: rgba(0,0,0,1);
}
.ParagraphContainer{
width: 250px;
height: 20px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
padding: 10px;
}
.HeaderContainer{
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height:100px;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.HeaderLogo{
  top: 0;
  left: 0;
  height: 80px;
  margin: 12px;
}
.HeaderButton{
  font-size: large;
  right: 0;
  justify-self: flex-end;
  height: 50%;
  width: 90px;
  align-self: center;
  margin-right: 100px;
}
.TextLink{
  background: transparent;
  margin-right: 10px;
  width: 50px;
  height: 10px;
  cursor: pointer;
}
.HeaderActions{
  align-self: center;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}