*{
    box-sizing: border-box;
    margin:0;
}
.Stars{
    aspect-ratio: 5/1;
    position: relative;
    height: auto;
    width: 100px;
}
.GoldStars, .GreyStars{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    height: 100%;
    width: inherit;
    pointer-events: none;
}
.GoldStars{
    overflow: hidden;
    width: 26%;
}
.GreyStar{
    width: inherit;
    height: inherit;
    fill: rgba(0,0,0,0.2);
}
.GoldStar{
    height: 100%;
    width: 20px;
    fill:rgb(255,100,25);
    flex: 0 0 auto;
}