
.BookCard{
    position: relative;
    background-color: rgb(243, 243, 243);
    width: 150px;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: transform 0.3s ease;
    transform-origin: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.BookCard:hover{
    transform: scale(1.05);
}
.BookCard img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.InfoTag p{
    font-weight: 600;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:100%;
    transition: all 3s ease-out;
}
.InfoTag .Title{
    width: 150px;
    font-size: 14px;
    margin:0;
    color:rgba(0, 0, 0, 0.6)
}
.InfoTag .Author{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3)
}
.InfoTag .Rating{
    margin-top: 16px;
    position: relative;
    top:-15px;
}